#friends-display-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  padding: 10px 0px;
  font-size: 15px;
  margin-bottom: 10px;
}

#friends-display-link i {
  margin: 0px 10px;
  color: rgb(216, 216, 216);
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--graycolor);
  margin-bottom: 30px;
}
.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

@keyframes hidesplashscreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  animation: hidesplashscreen 0.3s ease-in-out forwards;
  animation-delay: 2s;
}
