.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(117, 117, 117, 0.747);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__a {
  position: relative;
}

@keyframes notificationanimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  bottom: 15px;
  left: 15px;
  animation: notificationanimation 1s ease-in-out infinite;
}

.nav__notification span:last-child {
  /*마지막 요소를 선택하는 선택자는 없는건가..?*/
  width: 10px;
  height: 10px;
  bottom: 25px;
  left: 35px;
}

@keyframes appearbtnanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__a {
  opacity: 0;
  animation: appearbtnanimation 1s ease-in-out forwards;
  animation-delay: 1.5s;
}
.nav__a:nth-child(2) {
  animation-delay: 2.1s;
}
.nav__a:nth-child(3) {
  animation-delay: 2.2s;
}
.nav__a:last-child {
  animation-delay: 2.3s;
}
